@keyframes bgAnimationDown {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes bgAnimationUp {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #fff;

    box-sizing: border-box;
}

.logo {
    position: fixed;
    top: 2rem;
    left: 2.7vw;
    z-index: 1002;

    cursor: pointer;
}

.logo img {
    height: 3rem;
}

/* menu */

.menu-container {
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.menu-dark-bg {
    visibility: hidden;
    opacity: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.menu-slash-bg {
    visibility: hidden;
    opacity: 0;

    left: 110vw;
    width: 90%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    transform: skewX(20deg);
    top: 0;
    position: absolute;
}

.menus {
    top: 30vh;
    position: relative;
}

.main-menu {
    display: inline-block;
    z-index: 50;
    float: left;
    margin-right: 1.5rem;
    direction: ltr;
}

.main-menu ul {
    list-style-type: none;
    font-size: 8.3rem;
    font-weight: 600;
    letter-spacing: -0.4rem;
    line-height: 116%;
}

.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0 3rem 0 7.2rem;

    box-shadow: inset 0 0 0 0 #fecc00;

    transition: all ease 0.2s;
}

.main-menu ul li a:hover {
    color: #fff;
    box-shadow: inset 60rem 0 0 0 #fecc00;
}

.main-menu ul li span {
    display: inline-block;
    transform: skewX(-20deg);
}

.main-menu ul li span sup {
    font-size: 2.5rem;
    font-weight: 700;
}

.sub-menu {
    float: left;
    position: relative;
    top: 2.5rem;
    left: 2rem;
    transform: skewX(-20deg);
    z-index: 300;
}

.secondary-menu-container {
    float: left;
    margin-right: 2rem;
    min-width: 10rem;
}

.secondary-menu ul {
    list-style-type: none;
    color: #000;
    font-size: 3rem;
    line-height: 4.8rem;
    font-weight: 600;
}

.secondary-menu ul li:hover {
    cursor: pointer;
    color: #fecc00;
}

.contact-info-container {
    float: left;
    display: inline-block;
    position: relative;
    top: 1.5rem;
    left: 10rem;

    font-size: 1.4rem;
    color: #1a1a1a;

    z-index: 300;
}

.contact-info h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.contact-info a {
    display: inline-block;
    text-decoration: underline;
    color: #1a1a1a;
    padding-bottom: 1.7rem;
}

.office-address {
    display: inline-block;
    position: relative;
    top: 2rem;

    font-size: 1.4rem;
    color: #1a1a1a;
}

.office-address h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.office-address a {
    text-decoration: underline;
    color: #1a1a1a;
}

.social-icons {
    display: flex;
    justify-content: space-between;

    margin-top: 37rem;
    width: 15rem;

    position: absolute;
    left: 0;

    z-index: 100;
}

.icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;

    border-radius: 3px;

    transition: all 0.1s;
}

.icon:hover {
    background-color: #fecc00;
    cursor: pointer;
}

/* menu button */

.menu-button {
    width: 4rem;
    height: 1.8rem;
    top: 2rem;
    right: 2.7vw;
    z-index: 1001;

    position: fixed;

    cursor: pointer;
}

.hamburger-top {
    width: 4rem;
    height: 0.6rem;

    background-color: #fff;
}

.hamburger-bottom {
    width: 4rem;
    height: 0.6rem;

    background-color: #fff;

    top: 0.6rem;
    position: relative;
}

.about-intro {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-splash {
    width: 100%;
    height: 100%;

    background-position: center center;
    /* background-position-x: initial;
    background-position-y: initial; */

    background: repeating-linear-gradient(
        0deg,
        #ee749d,
        #ee749d 20px,
        #000 20px,
        #000 40px
    );
    background-image: repeating-linear-gradient(
        0deg,
        rgb(238, 116, 157),
        rgb(238, 116, 157) 20px,
        rgb(0, 0, 0) 20px,
        rgb(0, 0, 0) 40px
    );
    background-size: 200% 200%;
    /* background-repeat: initial; */
    background-attachment: fixed;
    /* background-origin: initial;
    background-color: initial; */

    animation: bgAnimationDown 20s linear infinite;

    text-align: center;
    direction: ltr;
}

.headlines {
    /* width: 100%; */
    z-index: 1;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    padding-top: 6.5rem;
}

.headlines h1 {
    color: #fff;
    font-size: 13rem;
    letter-spacing: -4px;
    line-height: 120%;
    transform: scaleY(1.05);
}

.headlines p {
    line-height: 100%;
}

.slanted-button {
    margin-top: 3rem;

    transform: skewX(20deg);
    transform-origin: 0 0;
    background-color: #fff;
    display: inline-block;
    padding: 0.9rem 1.3rem;
    text-decoration: none;
    cursor: pointer;
    min-width: 13rem;

    /* GSAP */
    box-shadow: inset 0 0 0 0 #fecc00;
    transition: box-shadow 0.1s ease;
}

.about-video-watch {
    transform: skewX(-20deg);
    color: #000;
    font-size: 2.3rem;
    font-weight: 800;
}

.slanted-button:hover {
    box-shadow: inset 0 -5rem 0 0 #fecc00;
}

.backslash {
    width: 100%;
    font-size: 90rem;
    font-weight: 700;
    line-height: 70%;
    cursor: default;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1, 1.18);

    background: repeating-linear-gradient(
        0deg,
        #ee749d,
        #ee749d 22px,
        #000 22px,
        #000 44px
    );
    background-image: repeating-linear-gradient(
        0deg,
        rgb(238, 116, 157),
        rgb(238, 116, 157) 22px,
        rgb(0, 0, 0) 22px,
        rgb(0, 0, 0) 44px
    );
    /* background-position-x: initial;
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-color: initial; */
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    color: transparent;
    overflow: visible;

    animation: bgAnimationUp 40s linear infinite;
}
